* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --Paragraph-color: rgba(115, 115, 115);
  --Border-color: #dbdfe4;
}
.flex {
  display: flex;
}

/*mobile first*/
.container {
  display: grid;
  justify-self: center;
  /*grid-template-columns: 1fr;*/
  margin: 20px 400px;
}
.MobileMainNav {
  justify-content: space-between;
  align-items: center;
  padding: 0 0 25px 0;
}

.MobileMainNav > ul {
  display: flex;
  gap: 30px;
}
.second > li > img {
  width: 20px;
}
.second span {
  font-size: 18px;
  font-weight: bold;
}
/*HEADER*/
header {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
}
nav > img {
  display: none;
}
.profile > img {
  /*width: clamp(5px, 11vw, 11vw);
  width: clamp(10vw, 10vw, 3vw);*/
  width: 100%;
  border-radius: 50%;
}
.webNavbar {
  gap: 30px;
}
.userName {
  font-size: clamp(16px, 5vw, 20px);
}
.DataBar {
  margin: 10px 0;
}
.datalist {
  list-style-type: none;
}
.postElement > a,
.followersElement > a,
.followingElement > a {
  text-decoration: none;
  color: var(--Paragraph-color);
  margin: 0 12px;
}
.postElement > a {
  margin: 0 12px 0 0;
}
.postSpan,
.followersSpan,
.followingSpan {
  color: #000;
  font-weight: bold;
}

.accCategory {
  color: var(--Paragraph-color);
}

/*SCROLL BAR*/
.dv > img {
  width: clamp(50px, 8vw, 100px);
  border-radius: 50%;
}
.scrollBar {
  margin-top: 50px;
  overflow-x: scroll;
  /*width: clamp(17vw, 41vw, 400px);*/
  width: clamp(23em, 100%, 40vw);
  display: flex;
  justify-self: center;
}
.Highlights {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.Highlights > li {
  list-style: none;
  text-align: center;
}
.Highlights > li > img {
  border: 3px solid var(--Border-color);
  padding: 3px;
}
.tabPanel {
  justify-content: center;
  margin: 40px 0;
}
.iconPanel {
  justify-content: space-evenly;
}
li {
  list-style: none;
}
li > a > img {
  width: clamp(1.5vw, 2em, 100vw);
}
.postSection {
  margin: 30px 0 60px 0;
}
.imgborder {
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-self: center;
}
.noPostsYet > img {
  border-radius: 50%;
}
.noPost {
  text-transform: capitalize;
  font-weight: bold;
  justify-self: center;
  padding-top: 40px;
  letter-spacing: 3px;
}

footer {
  display: block;
}

/*midea quesry*/
@media (max-width: 767px) {
  header {
  }
}

/** tablets  **/
/*@media (min-width: 768px) {
  .header1 {
     display: grid;
    grid-template-columns: 1fr;
  }
}*/
/** desctop  **/
@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .profile > img {
    width: clamp(5vw, 11em, 100vw);
  }
  nav > img {
    display: block;
  }
  footer {
    display: none;
  }
  .MobileMainNav {
    display: none;
  }
  .container {
    margin-top: 82px;
  }
}
